<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<extensions>
    <add assembly="T2.CLS.LoggerExtensions.NLog" />
  </extensions>

	<internalLogLevel>info</internalLogLevel>
	<internalLogFile>${basedir}/logs/internal-nlog.txt</internalLogFile>
	

	<targets>
    <!--requestUri="http://by01-vm45:9880/T2.Cls.LogViewer.LoggerExtension"-->
    <!--requestUri="http://by01-vm45:5000/Log/Save/CLS"-->
	<!--requestUri="https://by01-app21.topsoft.local/T2.Logger.Transport/Forwarder/Log/Save/CLS"-->
    <!--xsi:type="DurableClickhouse"-->
    <target name="fluentd"
            xsi:type="DurableClickhouse"
            requestUri="https://by01-app21.topsoft.local/T2.Logger.Transport/Forwarder/Log/Save/CLS"
            memoryBufferLimit="1024"
            fileBufferLimit="65536"
            workerCount="1"
            bufferPath="LogBuffer"
            flushTimeout="1000"
            senderBufferLimit="4096"
            encoding ="Unicode">

      <attributes>
        <attribute name="SystemTag" layout="LoggerExtensions App" />
        <attribute name="SourceContext" layout="${logger}" />
      </attributes>

    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="fluentd" />
  </rules>

</nlog>